.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    margin-top: 20px;
    position:static;
  }
  
.li {
    display:inline-block;
    text-align:center;
    border-color: rgb(233, 233, 233);
    border-width: 1px;
    border-style: dotted;
    width: 40px;
    height: 40px;  
}
  
.a {
    display: block;
    color: rgb(223, 55, 55);
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}
  
li a:hover {
    background-color: rgb(223, 55, 55);
    color:rgb(233, 233, 233);
}
