
.body {
    height: 100%;
    width: 100%;
    padding: 0px 60px;
    position: absolute;
    align-items: center;
    background: #d5cbcb;
    justify-content: space-between;
}

.container{
    margin-top: 80px;
    display: flex;
    padding: 0px 60px;
    align-items: center;
    justify-content: space-between;
}

.info {
    width: 550px;
    height: 450px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.info a {
    text-decoration: none;
}

.info h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    line-height: 1.25;
    font-weight: 600;
    color: #FFFFFF;
    text-align: left;
}

.info p {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;
    line-height: 35px;
}



.earth img{
    margin-right: 100px;
    width: 650px;
    height: 450px;
}

.startButtom {
    width: 550px;
    height: 60px;
    background: linear-gradient(to right, #ed7a7a, #9b4141);
    color: #ffffff;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    border-radius: 16px;
    border: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor:pointer;
}

